.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnFormat{
  padding: 20px;
  font-size: 25px;
  border-right: solid 2x #3C4857;
  border-bottom: solid 10px #3C4857;
  transition: all 0.2s ease-in-out;
}
.inpFormat{
  display: table-cell;
  width: 100% ;
  text-align: right;
  cursor : text;
  height: 5rem;
  
}
